version: "3.7"

services:
  wrapper_agent:
    build:
      context: .
      args:
        MODS_AGENT_BASE_URL: $MODS_AGENT_BASE_URL
    image: cmcl/sim_cmcl_mods_wrapper:$SIM_CMCL_MODS_WRAPPER_VERSION
    cap_drop:
      - ALL
    container_name: sim_cmcl_mods_wrapper
    ports:
      - 5001:5000
